
$primary-color: #00763E;
$secondary-color: #d2d2d2;

.es-header{
    height: 100%;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .container.main{
        height: calc(100% - 150px);
    }
}

.es-header-bottom{
    height: 150px;
    background-color: white;
    padding: 0px !important;
}

.v-card{
    border-radius: 10px;
}

.v-card__title{
    border-top: 5px solid $primary-color !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
}

.v-toolbar__items.navs{
    .v-btn:hover{
        border-bottom: 5px solid white;
        background-color: rgba(30, 134, 85, 0.04);
    }
}

.es-header-card-title{
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: bold;
}
.es-header-card-sub-title{
    width: 100%;
    float: left;
    font-size: 15px;
}

.es-choice{
    width: 100%;
    border: 1px solid $secondary-color;
    border-radius: 40px;
    margin-bottom: 10px;
    :first-child.es-choice-btn{
        border-right: 1px solid $secondary-color;
    }
    :last-child.es-choice-btn{
        border-left: 1px solid $secondary-color;
    }
    .es-choice-content{
        position: block;
        text-align: center;
        padding-top: 10px;
        font-size: 17px;
    }
}
