
$primary-color: #00763E;
$secondary-color: #d2d2d2;

.es-header{
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .container.main{
        height: calc(100% - 150px);
    }
}

.es-header-bottom{
    min-height: 150px;
    background-color: white;
    padding: 0px !important;
}

.v-card{
    border-radius: 10px;
}

.v-card__title{
    border-top: 5px solid $primary-color !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5rem;
}

.v-toolbar__items.navs{
    .v-btn:hover{
        border-bottom: 5px solid white;
        background-color: rgba(30, 134, 85, 0.04);
    }
}

.es-header-card-title{
    width: 100%;
    float: left;
    font-size: 15px;
    font-weight: bold;
}
.es-header-card-sub-title{
    width: 100%;
    float: left;
    font-size: 15px;
}

.es-choice{
    width: 100%;
    border: 1px solid $secondary-color;
    border-radius: 40px;
    margin-bottom: 10px;
    :first-child.es-choice-btn{
        border-right: 1px solid $secondary-color;
    }
    :last-child.es-choice-btn{
        border-left: 1px solid $secondary-color;
    }
    .es-choice-content{
        position: block;
        text-align: center;
        padding-top: 10px;
        font-size: 17px;
    }
}
.v-toolbar{
    max-width: 100%;
}


.full-height{
    height: 100%;
}

.bg-secondary{
    background-color: #E0E7EF !important;
}

.image-center{
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    max-width: 100%;
    float: left;
    margin-bottom: 20px;
}

.floating{
    float: left;
    max-width: 100%;
    min-width: 100%;
}

.block-title{
    text-align:center;
    font-size: 1.75rem;
    font-weight: 500;
}

.block-sub-title{
    text-align:center;
    max-width: 800px;
}

.br-4{
    border-radius: 4px !important;
}

.es-card-title{
    font-size: 18px;
    font-weight: bold;
}
.es-card-sub-title{
    font-size: 16px;
}

.list-group{
    list-style-type: none;
}

.es-card{
    border: 1px solid $secondary-color !important;
    border-radius: 4px;
    height: 130px;
    cursor: pointer;
}
.es-card:hover{
    border: 1px solid $primary-color !important;
}

.es-card-header{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.es-card-bottom{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.es-order-card{
    background-color: rgba(24, 132, 83, 0.8) !important;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.es-order-card-main{
    background-image: url(../images/order-card.png);
}

.es-order-card-title{
    color: white;
}

.es-order-card-sub-title{
    color: #AFD6C2;
    text-transform: uppercase;
}

@media only screen and (min-width: 1000px){
    .es-header{
        height: calc(100% - 340px);
    }
}
